<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="input">
      <h1>Wound segmentation</h1>

      <form
        action="{{url_for('upload')}}"
        method="POST"
        enctype="multipart/form-data"
      >
        <input type="file" name="file" style="margin-top: 20px" />
        <input
          type="submit"
          value="上傳"
          class="button-new"
          style="margin-top: 15px"
        />
      </form>
      <div class="image_container">
        <div class="item">
          {% if imagename %}
          <div id="ori">原圖</div>
          <div id="ori_img">
            <img
              src="{{url_for('static',filename='images/'+imagename)}}"
              alt=""
              width="300px"
              height="300px"
            />
          </div>
          {% endif %}
        </div>
        <div class="item">
          {% if outputImageName %}
          <div id="result">分割結果</div>
          <div id="result_img">
            <img
              src="{{url_for('static',filename='output/'+outputImageName)}}"
              alt=""
              width="300px"
              height="300px"
            />
          </div>
          {% endif %}
        </div>
      </div>
      <div class="tissue">
        <!-- 做四個block，組織比例-->
      </div>
    </div>
  </body>
</html>
